<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title %></title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <h1 class="page_title"><%=title %></h1>
    </header>
    <div class="main_content" rore="main">
      <p><%-content %></p>
      <p><a href="<%-link.href %>"><%-link.text %></a></p>
    </div>
  </div>
</body>
</html>
