<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <h1><%=title %></h1>
  </header>
  <div role="main">
    <p><%= content %></p>
    <table>
      <tr>
        <th>id</th>
        <td><%= blog.id %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= blog.name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= blog.email %></td>
      </tr>
      <tr>
        <th>Age</th>
        <td><%= blog.age %></td>
      </tr>
    </table>
  </div>
</body>
</html>
